

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


@font-face {
    font-family: Montserrat-Regular;
    src: url('Table_Highlight_Vertical_Horizontal/fonts/montserrat/Montserrat-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Medium;
    src: url('Table_Highlight_Vertical_Horizontal/fonts/montserrat/Montserrat-Medium.ttf'); 
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
  * {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
  }
  
  body, html {
      height: 100%;
      font-family: sans-serif;
  }
  /* ------------------------------------ */
  a {
      margin: 0px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
  
  a:focus {
      outline: none !important;
  }
  
  a:hover {
      text-decoration: none;
  }
  
  /* ------------------------------------ */
  h1,h2,h3,h4,h5,h6 {margin: 0px;}
  
  p {margin: 0px;}
  
  ul, li {
      margin: 0px;
      list-style-type: none;
  }
  
  
  /* ------------------------------------ */
  input {
    display: block;
      outline: none;
      border: none !important;
  }
  
  textarea {
    display: block;
    outline: none;
  }
  
  textarea:focus, input:focus {
    border-color: transparent !important;
  }
  
  /* ------------------------------------ */
  button {
      outline: none !important;
      border: none;
      background: transparent;
  }
  
  button:hover {
      cursor: pointer;
  }
  
  iframe {
      border: none !important;
  }
  
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Table ]*/
  
  .limiter {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-tableKaizen {
    width: 100%;
    min-height: 100vh;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding: 33px 30px;
    table-layout: fixed;
  }
  
  .wrap-tableKaizen {
    width: 1300px;
  }

  
  /*//////////////////////////////////////////////////////////////////
  [ Table ]*/
  .kaizen_table {
      width: 100%;
      background-color: #fff;
      text-align: center;
      border-collapse: collapse !important;
      border-radius: 2em !important;
      overflow: hidden !important;
    }
  th, td {
    font-weight: unset;
    padding-right: 10px;
  }
  
  .column100 {
    width: 130px;
    padding-left: 25px;
  }
  
  .column100.column1 {
    width: 265px;
    padding-left: 42px;
  }
  
  .row100.head th {
    padding-top: 24px;
    padding-bottom: 20px;
    border: 5px solid white; 
  }
  
  .row100 td {
    padding-top: 18px;
    padding-bottom: 14px;
    height: 20px;
  }
  
  [ Ver2 ]*/
  .tableKaizen.ver2 td {
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #808080;
    line-height: 1.4;
    width: 130px;
    padding-left: 25px;
  }
  
  .tableKaizen.ver2 th {
    font-family: Montserrat-Medium;
    font-size: 12px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: #333333;
  }

  .header_obra {
    background-color: #606160 !important;
  }
  .header_proyectos {
    background-color: #BAFAA8 !important;
    color: #378132 !important;
  }

  .header_produccion {
    background-color: #5488D9 !important;
    color: #192840 !important;
  }

  .header_avance {
    background-color: #813731 !important;
  }

  .header_admin {
    background-color: #9F8BE0 !important;
  }

  .header_indirectos {
    background-color: rgb(241, 169, 87) !important;
  }
  
  .tableKaizen.ver2 .row100:hover td {
    background-color: #edf88b !important;
    color: #fff;
  }
  
  .tableKaizen.ver2 .hov-column-ver2 {
    background-color: #edf88b;
    color: #fff;
  }
  
  .tableKaizen.ver2 .hov-column-head-ver2 {
    background-color: #484848 !important;
  }
  
  .tableKaizen.ver2 .row100.proceso:hover td {
    background-color: #edf88b;
    color: #333333;
  }
  
/*   .tableKaizen.ver2 .row100.proceso td:hover {
    background-color: red !important;
    color: #333333 !important;
  } */
  
  .tableKaizen.ver2 td {
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #808080;
    line-height: 1.4;
  }
  
  
  .tableKaizen.ver2 .rowTotal td {
    font-family: Montserrat-Medium;
    font-size: 19px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
  
    background-color: #333333;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
  }
  
  
/*   .tableKaizen.ver2 .hov-column-ver2 {
    background-color: #dfe237;
    color: #fff;
  }
  
  .tableKaizen.ver2 .hov-column-head-ver2 {
    background-color: #484848 !important;
  } */
  
/*   .tableKaizen.ver2 .row100 td:hover {
    background-color: #dfe237;
    color: #333333;
  } */
  
  .tableKaizen.ver2 .row100.proceso td {
    border-bottom:4pt solid white;
    border-top:4pt solid white;
    background-color: #403F3A;
    font-family: Montserrat-Medium;
    color: #fff;
    font-size: 14px;
  }
  .tableKaizen.ver2 .row100.proceso.evenProc td {
    background-color: #5E5D56;
  }

  .subproc_row .avance {
    background-color: #813731 !important;
    color: #fff !important;
    opacity: 0.9;
  }

  .subproc_row .admin {
    background-color: #9F8BE0 !important;
    color: #fff !important;
    opacity: 0.9;
  }
  .subproc_row .profit {
    background-color: #484848 !important;
    color: #fff !important;
    opacity: 0.9;
  }
  
  .subproc_row .produccion {
    background-color: #5488D9 !important;
    color: #192840 !important;
    opacity: 0.9;
  }
  
  .subproc_row .proyectos {
    background-color: #BAFAA8 !important;
    color: #378132 !important;
    opacity: 0.9;
  }

  .subproc_row .nombre {
    background-color: #606160 !important;
    color: #fff !important;
    opacity: 0.9;
  }

  .subproc_row .clave {
    background-color: #606160 !important;
    color: #fff !important;
    opacity: 0.9;
  }

  .subproc_row .indirectos {
    background-color: rgb(240, 182, 116) !important;
    color: #484848 !important;
    opacity: 0.9;
  }

  .evenSubp .indirectos {
    opacity: 0.7;
  }
  
  
  .evenSubp .avance {
    opacity: 0.7;
  }

  .evenSubp .admin {
    opacity: 0.7;
  }

  .evenSubp .profit {
    opacity: 0.7;
  }

  .evenSubp .produccion {
    opacity: 0.8;
  }

  .evenSubp .proyectos {
    opacity: 0.7;
  }

  .evenSubp .nombre {
    opacity: 0.7;
  }

  .evenSubp .clave {
    opacity: 0.7;
  }
  .subproc_row .left {
    border-left:4pt solid white;
  }

  .subproc_row .right {
    border-right:4pt solid white;
  }

